// CSS HOMEPAGE
// Ví dụ
main {
    .hero {
        position: relative;
        height: 150vh;
        overflow: hidden;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(330.24deg, rgba(11, 29, 38, 0) 31.06%, #0B1D26 108.93%);
            z-index: 5;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: -10%;
            height: 30%;
            width: 100%;
            background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0B1D26 61.38%);
            z-index: 8;

        }

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;

            &.hg {
                z-index: 1;
                top: 0%
            }

            &.mg {
                z-index: 2;
                top: 35%;
            }

            &.vg {
                z-index: 7;
                top: 55%;
            }
        }


        &__text {
            position: fixed;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            z-index: 9;
            pointer-events: none;

            &>.container-fluid {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }

        &__social {
            position: relative;
            display: flex;
            align-items: center;
            writing-mode: vertical-lr;
            pointer-events: all;

            &>p {
                color: $white-cl;
                margin-bottom: 2.6rem;
            }

            &>a {
                svg {
                    fill: $white-cl;
                    transform: 200ms $cubic;
                }

                &:hover {
                    &>svg {
                        fill: $accent-cl;
                        transform: 300ms $cubic;
                    }
                }

                &:not(:last-child) {
                    margin-bottom: 2.4rem;
                }
            }
        }

        &__content {
            position: relative;
            max-width: 95rem;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 5;

            &>h1 {
                @include text(8.8rem, CD-S, 114%, $white-cl, capitalize);
                margin-block: 3.2rem;

            }

            &>.scroll-down {
                &>span {
                    display: flex;
                    color: $white-cl;

                    &>svg {
                        margin-left: 1rem;
                        animation: 2s scrollDown infinite alternate;
                    }
                }
            }
        }

        &__slider {
            &--num {
                text-align: end;
                pointer-events: all;

                &>li {
                    display: block;
                    border-right: .3rem solid rgba($white-cl, $alpha: 0.5);
                    padding-block: 2rem;
                    cursor: pointer;

                    &.active {
                        border-color: $white-cl;

                        &>a {
                            color: $accent-cl;
                            transition: 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
                        }
                    }

                    &>a {
                        margin-right: 3rem;
                        color: $white-cl;
                        transition: 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);

                        &:hover {
                            color: $accent-cl;
                            transition: 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
                        }

                    }
                }
            }
        }
    }

    .content {
        position: relative;
        z-index: 8;

        &__row {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20rem;


            &:nth-child(even) {
                flex-direction: row-reverse;
            }
        }

        &__body {
            position: relative;
            max-width: 63rem;
            width: 60%;

            &>h2 {
                @include text(6.4rem, CD-S, 7.7rem, $white-cl, null);
                margin-bottom: 2.7rem;
            }

            &--desc {
                line-height: 178%;
                color: $white-cl;
                margin-bottom: 2.7rem;
            }

            &>a.btn-more {
                display: inline-flex;
                cursor: pointer;

                svg {
                    margin-left: 1.6rem;
                    transform: rotate(-90deg);
                    transition: $t $cubic;
                }

                &:hover {
                    svg {
                        will-change: transform;
                        transform: translateX(1rem) rotate(-90deg);
                        transition: $t $cubic;
                    }
                }
            }
        }

        &__heading {
            position: relative;
            display: flex;
            align-items: center;
            margin-bottom: 2.7rem;

            &--num {
                position: absolute;
                color: rgba($white-cl, $alpha: .1);
                font-size: 24rem;
                line-height: 24rem;
                left: -25%;

            }
        }

        &__img {
            position: relative;
            width: 40%;
            padding-top: 50%;
            overflow: hidden;

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

@keyframes scrollDown {
    0% {
        transform: translateY(-.5rem);
    }

    100% {
        transform: translateY(.5rem);
    }
}

@include lg {
    main {
        .hero {
            height: 100vh;
        }
    }
}

@include md {
    main {
        .hero {
            &__content {
                position: relative;
                max-width: 85rem;

                &>h1 {
                    @include text(6.8rem, CD-S, 114%, $white-cl, capitalize);
                    margin: 3.2rem 0;

                }
            }
        }

        .content {
            &__img {
                width: 35%;
            }
        }
    }

}

@include sm {
    main {
        .hero {
            height: 70vh;

            &__content {
                position: relative;
                max-width: 55rem;

                &>h1 {
                    @include text(5.8rem, CD-S, 114%, $white-cl, capitalize);
                    margin: 3.2rem 0;

                }
            }

        }

        .content {
            &__body {
                position: relative;
                max-width: 100%;
                width: 100%;
                margin-bottom: 3rem;

            }

            &__img {
                width: 100%;
                padding-top: 100%;
            }
        }
    }
}

@include xs {
    main {
        .hero {

            &__content {
                position: relative;
                max-width: 45rem;

                &>h1 {
                    @include text(3.8rem, CD-S, 114%, $white-cl, capitalize);
                    margin: 2.2rem 0;

                }
            }
        }

        .content {

            &__row {
                margin-bottom: 10rem;
            }
        }
    }
}

@include xxs {
    main {
        .hero {

            &__content {
                position: relative;
                max-width: 35rem;

                &>h1 {
                    @include text(3.8rem, CD-S, 114%, $white-cl, capitalize);
                    margin: 2.2rem 0;

                }
            }
        }

    }
}